<div class="tab-pane" id="registration">
    <%= form_for(User.new, url: registration_path(:user), html: {class: 'modal-form form-horizontal'}) do |f| %>

      <div class="form-group">
        <%= f.label :email, t('share.modal_window.email'), class: 'control-label col-md-4'%>
        <div class="col-md-6">
            <%= f.email_field :email, autofocus: true , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, t('share.modal_window.password'), class: 'control-label col-md-4' %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="col-md-6">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t('share.modal_window.password_confirmation'), class: 'control-label col-md-4' %>
        <div class="col-md-6">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
    <% end %>

</div>