<div class="tab-pane" id="authorization">
  <%= form_for(User.new, url: session_path(:user), html: {class: 'form-horizontal'}) do |f| %>
      <div class="form-group">
        <%= f.label :email, 'Электронная почта:', class: 'control-label col-md-4' %>
        <div class="col-md-6">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :password, "Пароль:", class: 'control-label col-md-4' %>
        <div class="col-md-6">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

      </div>
    <% end %>
  <div class="social-networks-auth">
  <%- User.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(User, provider), class: provider %><br />
  <% end -%>
  </div>

</div>
